:root {
    --text-color: #14233D;
    --primery-color: #3E80F7;
    --ui-color: #297FFF;
    --bg-color: #ffffff;
    --section-color: #DAF1F9;
}


body {
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.text {
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--text-color);

}

.text-primary {
    color: var(--primary-color);
}


.caret {
    position: relative;
    display: block;
    width: 6.6px;
    height: 1px;
    margin-left: 2px;
    margin-top: -2px;
}

.caret::before,
.caret::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 5px;
    height: 100%;
    background-color: #888888;
}

.caret::before {
    left: 0;
    transform-origin: left center;
    transform: rotate(45deg);
}

.caret::after {
    right: 0;
    transform-origin: right center;
    transform: rotate(-45deg);
}

.h4 {
    font-family: "Montserrat ", sans-serif;
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--text-color);
}

.h3 {
    font-family: "Montserrat ", sans-serif;
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--text-color);
}

.h2 {
    font-family: "Montserrat ", sans-serif;
    font-size: 1.875rem;
    line-height: 120%;
    color: #ABB1C5;
}

.h1 {
    font-family: "Montserrat ", sans-serif;
    font-size: 3.125rem;
    line-height: 120%;
    color: var(--text-color);
}


.h5 {
    font-family: "Montserrat ", sans-serif;
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--text-color);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}




.header {}


.container {
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;



}

.col {}


.header__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.header__logo {
    flex-shrink: 0;
}

.header__navigation {
    margin-left: 34px;
    position: relative;
}




.nav {}

.nav__menu {}

.nav__menu li {
    display: inline-block;

}

.nav__menu li a {
    display: inline-block;

}


.menu__item {}

.menu__link {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 130%;
    color: var(--text-color);

}

.submenu__item {}

.submenu__link {}

.rent {}

.header__time {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header__time h5 {
    margin: 0;
    font-size: 0.75rem;
}

.text__time {
    text-align: center;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.list-reset {
    display: block;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 20px;

}

.header__contacts a {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.125rem;
    color: var(--primary-color);
}

.header__contacts p {
    margin: 0;
    font-size: 1rem;
}

p {
    display: block;

}

.number {
    color: var(--primery-color);
}


.header__account {
    margin-left: 20px;
    border: 0;
}


.header__call {
    margin-left: 20px;
    border: 0;
}


.btn {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 31px 11px;
    gap: 10px;
    width: 143px;
    height: 40px;
    left: 1210px;
    top: 20px;
    color: #ffffff;
    background: #297FFF;
    border-radius: 10px;
}

.change-language {
    position: relative;

}

.change-language__open {
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 0.75rem;
}


.header__language {
    margin-left: 24px;

}

.language {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

}

.language__link {}