:root {
    --text-color: #111111;
    --primery-color: #3E80F7;
    --ui-color: #297FFF;
    --bg-color: #ffffff;
    --section-color: #DAF1F9;
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("..assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("..assets/fonts/Montserrat-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    src: url("..assets/fonts/Montserrat-Medium.woff2") format("woff2"),
        url("..assets/fonts/Montserrat-Medium.woff") format("woff");
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url("..assets/fonts/Montserrat-Bold.woff2") format("woff2"),
        url("..assets/fonts/Montserrat-Bold.woff") format("woff");
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "Montserrat Medium", "Montserrat-Bold", "Montserrat-Medium", Arial, sans-serif;
}

html {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.text {
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--text-color);

}


.h3 {
    font-family: "Montserrat Medium", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--text-color);
}

.h2 {
    font-family: "Montserrat SemiBold", Arial, sans-serif;
    font-size: 1.875rem;
    line-height: 120%;
    color: #ABB1C5;
}

.h1 {
    font-family: "Montserrat-SemiBold", Arial, sans-serif;
    font-size: 3.125rem;
    line-height: 120%;
    color: var(--text-color);
}